@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
}

body {
    background-color: #ebebeb;
    color: #7d7d7d;
}

.grid-container {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 20px;

    /* // Avant Tuto : Le designer du Web // 
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "leopold7 chipote_les flagey grandmere" "c_black res_royale saison valduc_petitesoeur";
    grid-gap: 1.5rem;
    padding: 20px 50px;*/
}

.item {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 6px;
    text-align: center;

    /* // Avant Tuto : Le designer du Web // 
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;*/
}

.item:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

img {
    width: 120px;
    margin-top: 10px;
}

p, h3 {
    margin: 10px;
}

a {
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: tomato;
}

a:hover {
    background-color: tomato;
    color: white;
    padding: 0.3rem;
    border-radius: 4px;
    transition: 0,3s;
}
