@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
}

body {
    background-color: #ebebeb;
    color: #7d7d7d;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "leopold7 chipote_les flagey grandmere" "c_black res_royale saison valduc_petitesoeur";
    grid-gap: 1.5rem;
    padding: 20px 50px;
}

img {
    width: 120px;
}

.leopold7 {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.chipote_les {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.flagey {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.grandmere {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.c_black {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.res_royale {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.saison {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
.valduc_petitesoeur {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 2rem;
}
